.select-container {
    text-align: center;
    margin-top: 66px;
    select {
        width: 335px;
        height: 68px;
        border: none;
        border-radius: 12px;
        font-size: .93em;       
        padding: 0 20px;
        text-transform: uppercase;
        appearance: none;        
        &.close {
            background: url('/img/icons/down-arrow.svg') 95%/5% no-repeat, #5074ad; 
            color: #fff;
        }
        &.open {
            background: url('/img/icons/down-arrow.svg') 95%/5% no-repeat, #ffffff; 
            color: #5074ad;
        }        
    }
}