@import '../utils/reset.scss';
@import '../utils/config.scss';

.app-container {  
    font-family: $main_font;
    font-size: $text_size;    
    color: $white;
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;

    background: url("/img/img_rain.jpg") no-repeat center;
    background-size: cover;
    
     

    @include sm_desktop {
        font-size: 18px;
        padding: 30px;
    }
    @include tablet {
        font-size: 16px;
        padding: 20px;
    }

    @include mobile {
        font-size: 14px;
        padding: 15px;
    }
}

