.city-corrent {  
    border: 1px solid  blue;
    margin-top: 23px;
    .content {  
        text-align: center;
        .city-name {
            font-size: 3.5em;
            line-height: 1.32em;
            text-transform: uppercase;
        }
        .city-weather {
            font-size: 2.31em;
            line-height: 1.34em;
        }
    }
}